---

- hosts: ssh-access-hosts
  vars:
        remote_sshkey_vault_repo: git@github.com:user/ssh-keys-vault
        local_sshkey_vault_repo: ~/repos/ssh-keys-vault
  # dirty, but no "ansible_role_name" variable
  roles:
        - ansible-role-sshkey-access-provisioning

