---

users:
        - user: user001
          algs:
                - name: rsa
                  authorized:
                        - "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDxpWZrtrILAPTWqWnCdykxk0McZ3wIkxZqlfv/sPfpdsbRJh8fBnvvVg9Zg8rnIt7qnlBcSh76y2fJp0JOgzZENbx/tMWF35fQCco6stzl27pfRXpFybEmUBsbyuiLZaScHAC5efvMFrIpHOok2h4aJ66d+eX44uiO8w/1ICDmvNlAMApfp50pnnEtgFe9XfRxAoWoPahnYHpIUKmYErF1yPxW7VF2q+MurMHTzRmRJd5wJqp9pj2SVylPULFftw7Upag2u+ThShZfRAUqwrsZ/RfFj1YUDc/PVEKbdIvIAuQlLArw/pYWyz49WK3sR2vdQGhzv2mgStmC69SYCkpr alice"
                        - "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCvMDOuOKyuNVv1g9YPgAbF58xhkOM3HllAc7DH7st4XdttH5/2G45K3lJgyUqU1/hQz7H9gEDqhdzvD9Crb0DRGF8MUi3qDAPaXQ+69C7/kv2bOc00tT2S4eGOmWGL5XxCRVbCwLa0IRuo0AOAplDgFfL0vglWYSkCMIF4ZeMePPRg2HTqFo6oAU8uZ6BMC6Xjh8+DdcfMj3IrL3SNulrqO51NMvJvW12cUV7DKoRGdkVCxWtdTNRTxXN47JzFlbps+qrv/5h+eTZDRpaI3ArsFTH6N/I9lbzDYoXi5Iw77lLSMTTm+lliCbNO5PaYplX1UplCr5H90YfVf5BYw2oP givi"
                        - "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQC2w6i5ar2gL5Rba1z45Lozd+PFMDz7pLh/inN69Y46XImt+UlikWow8AvVF6XRPJAzCrkRXz+ZqGlt6BFAFqWoFXqoQZsUP1s7M/795MV/w5oQ0ZS9aoKQG5S2XBcVb2ugohtCJ5Wzm8Lps5OEiV19yMzQjmx4OQ6Q4meOWtCqO4+bsYiFWYQ5ETMyUxtmVtLXeDVHZJKUi65jh4JACeK1f+q8hUiCh3NWBBsNEgeKTY0NJPTrpI36HOnVgGZWuYcbFdRxJEC+ATE5M+AvQ7mhL9xcc3aMspKXPAUmsLg+qls1UM7jr3C/18x7vnInfT+cpH4K/BLDBFgwSn9jQtKv ashot"
                        - "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCoeUSo23kpOMvm2w5Y7GXM5thddJE6IubWghwPHgzRFp040s/sQ0WOTN8ZxHAWDQtugN1XKnlUATqufF3folvn8unwo4bmWIqtdK2U2WfwJ4ZyMMsFdP2tQGsuSPVTyXuw0Y+Vr2u6poKlpWOmYQ8qtPUEM/j9F+sdYH89Nb3h1D8zWM/f5aYD8YvR66A6KkaUjLZivzCVICopCo+IgFNM6CKRCyk1uOf3vwXnCMgA0SVviaQarrXwoHzFTRRDQ8yRvw4o/3kVGt4ser4x85bU6+09FNucLYLb7YW6QmcNdq69SsXUyqGKNNaywpmp2MQzInmVknh7ccQqp/jOqy0r ivan"
                - name: ecdsa
                  authorized:
                        - "ecdsa-sha2-nistp256 AAAAE2VjZHNhLXNoYTItbmlzdHAyNTYAAAAIbmlzdHAyNTYAAABBBOjvn3LDHqcQ1HcOIXkON+asWbnnLtO4fjPP45KluJ0WINeNk87SoW52jTFO4+T+OIDbicmFV2UFIYwKNi8BheA= alice"
                        - "ecdsa-sha2-nistp256 AAAAE2VjZHNhLXNoYTItbmlzdHAyNTYAAAAIbmlzdHAyNTYAAABBBJ8uVgyLa0JiQLU2gVqiBbvI3L0elvk/P6Jb3do8PsDGNPAigCawFNDkltGnGQ38RbIrSDkqjNKuQcEMbCLyXvc= ashot"
                        - "ecdsa-sha2-nistp256 AAAAE2VjZHNhLXNoYTItbmlzdHAyNTYAAAAIbmlzdHAyNTYAAABBBPC7XFulMy1xxnB+K4uB48ZHXmPE0EcN0Q9Hd/TvV7iw5Dl5KkWyAho5/zKW3JXqvBCXHUOvLlogwDwhfWTr9Mw= ivan"
        - user: user002
          algs:
                - name: rsa
                  authorized:
                        - "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCvMDOuOKyuNVv1g9YPgAbF58xhkOM3HllAc7DH7st4XdttH5/2G45K3lJgyUqU1/hQz7H9gEDqhdzvD9Crb0DRGF8MUi3qDAPaXQ+69C7/kv2bOc00tT2S4eGOmWGL5XxCRVbCwLa0IRuo0AOAplDgFfL0vglWYSkCMIF4ZeMePPRg2HTqFo6oAU8uZ6BMC6Xjh8+DdcfMj3IrL3SNulrqO51NMvJvW12cUV7DKoRGdkVCxWtdTNRTxXN47JzFlbps+qrv/5h+eTZDRpaI3ArsFTH6N/I9lbzDYoXi5Iw77lLSMTTm+lliCbNO5PaYplX1UplCr5H90YfVf5BYw2oP givi"
                        - "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCoeUSo23kpOMvm2w5Y7GXM5thddJE6IubWghwPHgzRFp040s/sQ0WOTN8ZxHAWDQtugN1XKnlUATqufF3folvn8unwo4bmWIqtdK2U2WfwJ4ZyMMsFdP2tQGsuSPVTyXuw0Y+Vr2u6poKlpWOmYQ8qtPUEM/j9F+sdYH89Nb3h1D8zWM/f5aYD8YvR66A6KkaUjLZivzCVICopCo+IgFNM6CKRCyk1uOf3vwXnCMgA0SVviaQarrXwoHzFTRRDQ8yRvw4o/3kVGt4ser4x85bU6+09FNucLYLb7YW6QmcNdq69SsXUyqGKNNaywpmp2MQzInmVknh7ccQqp/jOqy0r ivan"
                - name: ecdsa
                  authorized:
                        - "ecdsa-sha2-nistp256 AAAAE2VjZHNhLXNoYTItbmlzdHAyNTYAAAAIbmlzdHAyNTYAAABBBPC7XFulMy1xxnB+K4uB48ZHXmPE0EcN0Q9Hd/TvV7iw5Dl5KkWyAho5/zKW3JXqvBCXHUOvLlogwDwhfWTr9Mw= ivan"
        - user: user003
          algs:
                - name: rsa
                  authorized:
                        - "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQC2w6i5ar2gL5Rba1z45Lozd+PFMDz7pLh/inN69Y46XImt+UlikWow8AvVF6XRPJAzCrkRXz+ZqGlt6BFAFqWoFXqoQZsUP1s7M/795MV/w5oQ0ZS9aoKQG5S2XBcVb2ugohtCJ5Wzm8Lps5OEiV19yMzQjmx4OQ6Q4meOWtCqO4+bsYiFWYQ5ETMyUxtmVtLXeDVHZJKUi65jh4JACeK1f+q8hUiCh3NWBBsNEgeKTY0NJPTrpI36HOnVgGZWuYcbFdRxJEC+ATE5M+AvQ7mhL9xcc3aMspKXPAUmsLg+qls1UM7jr3C/18x7vnInfT+cpH4K/BLDBFgwSn9jQtKv ashot"
                        - "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCoeUSo23kpOMvm2w5Y7GXM5thddJE6IubWghwPHgzRFp040s/sQ0WOTN8ZxHAWDQtugN1XKnlUATqufF3folvn8unwo4bmWIqtdK2U2WfwJ4ZyMMsFdP2tQGsuSPVTyXuw0Y+Vr2u6poKlpWOmYQ8qtPUEM/j9F+sdYH89Nb3h1D8zWM/f5aYD8YvR66A6KkaUjLZivzCVICopCo+IgFNM6CKRCyk1uOf3vwXnCMgA0SVviaQarrXwoHzFTRRDQ8yRvw4o/3kVGt4ser4x85bU6+09FNucLYLb7YW6QmcNdq69SsXUyqGKNNaywpmp2MQzInmVknh7ccQqp/jOqy0r ivan"

